.container {
  width: auto;
  height: auto;
  display: auto;
  justify-content: center;
  margin: 1%;
  align-items: center;
  padding: auto;
  
}

.containers {
  display: flex;
  justify-content: center;
  margin: 2%;
  align-items: center;
  padding: auto;
}

.MuiDataGrid-columnHeaders {
  background-color: #e9ecef;
  color: rgb(0, 0, 0);
}


.MuiDataGrid-footerContainer {
  background-color: #d3d3d300;

}

.navlink {
  font-weight: bold;
}

.color {
  color: #d8e8f7
}


.login-content {
  background-color: #eeeeee;
  height: 1120px;
}


.column {
  width: 100%;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}